* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  display: flex;
}

.container {
  width: 50%;
  border: 5px dashed rebeccapurple;
  height: 100%;
  overflow: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.about {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
}

table .table_sort {
  border-collapse: collapse;
}

.table_sort th {
  color: #ffebcd;
  background: #008b8b;
  cursor: pointer;
}

td,
th {
  width: 25%;
  height: 40px;
  text-align: center;
  border: 2px solid #846868;
}

.table_sort tbody tr:nth-child(even) {
  background: #e3e3e3;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
  position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
  right: 8px;
  position: absolute;
}

th.sorted[data-order="-1"]::after {
  content: "▼";
}

th.sorted[data-order="1"]::after {
  content: "▲";
}

#form {
  visibility: hidden;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input,
textarea {
  width: 50%;
  margin: auto;
}

input,
textarea,
label {
  margin-top: 10px;
}

#radio_input input {
  width: auto;
}

form p {
  margin-top: 10px;
}
